[MASTER]
ignore=__pycache__,.venv,venv,laserflix_backups

[MESSAGES CONTROL]
disable=
    missing-module-docstring,
    missing-function-docstring,
    missing-class-docstring,
    too-few-public-methods

[FORMAT]
max-line-length=100
